// SASS VARIABLES
$pcWidth: 800px;
$minWidth: 280px;
$maxWidth: 1000px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    min-width: $minWidth;

    --color_main: hsl(180, 72%, 45%);
    --color_secundary: hsl(180, 72%, 30%);
}
body {
    background-color: var(--color_main);
}
a {
    text-decoration: none;
    color: var(--color_secundary);
}

main, footer {
    max-width: $maxWidth;
    margin: 0 auto;
}

// NAVIGATION
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: aliceblue;
    height: 50px;
    max-width: $maxWidth;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: var(--color_main);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 50px;
    justify-items: center;
    align-items: center;
    font-weight: bold;
}
nav > a {
    grid-column: span 3;
}

// MAIN
main {
    #home {
        background-color: red;
    }
    #contact {
        background: linear-gradient(to bottom, var(--color_main), var(--color_secundary));
    }
}
main > div {
    min-height: 80vh;
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: linear-gradient(0deg, #1b1b1b, #2c2c2c);
    color: white;
    min-height: 200px;
    padding-bottom: 200px;
}
footer > div {
    grid-column: span 12;
}

@media only screen and (min-width: $pcWidth) {
    nav {
        display: none;
    }
    footer > div {
        grid-column: span 3;
    }
  }